
@import './variable.scss';
// @import './animation.scss';

body {
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    background-color: var(--background-color);
    color: var(--dark-color);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  .copyright{
    text-align: left;
    font-size: var(--font-size-10);
    color: var(--grey-color);
  }

  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
    padding-right: 0;
    padding-left: 0;
  }

.header{
    background-color: var(--tertiary100);
    height: 10vh;
     @media (max-width: 576px) and (max-width: 767px) {
            height: 6vh;
        }
    .logo{
        padding: 7px 5px 5px 15px;
        width: 66%;
    }
    .social-icons{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 15px;
        list-style: none;
         @media (max-width: 576px) and (max-width: 767px) {
               position: fixed;
                top: 0;
                left: 30%;
            }
        .icon{
            width: 30px;
            height: 30px;
            margin-right: 10px;
            cursor: pointer;
            color: var(--Secondary800);
            //  @media (max-width: 576px) {
            //    color: var(--greenMain300);
            // }
                a {
                    color: rgba(var(--Secondary500));
                    text-decoration: underline;
                     &:hover{
                        color: var(--Secondary500);
                        }
                }
        }
    }

}

.headerotherAbout{
    background-image: url('../images/aboutus-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.headerotherServices{
    background-image: url('../images/ourservices-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.headerotherProducts{
    background-image: url('../images/product-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.headerotherContact{
    background-image: url('../images/contact-top-banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.primaryMainBG{
    background-color: var(--greenMain100);
}

.secondaryMainBG{
    background-color: var(--Secondary100);
}

.contactContent{
    h6{
        font-size: var(--font-size-20);
        margin: 10px 0px;
    }
    p{
        font-size: var(--font-size-14);
    }
}

.headerothers{
    height:65vh;
      @media (max-width: 576px) and (max-width: 767px) {
            height: 20vh;
        }
    .logo{
        padding: 7px 5px 5px 15px;
        width: 66%;
    }
    .social-icons{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 15px;
        list-style: none;
           @media (max-width: 576px)  and (max-width: 767px){
               position: fixed;
                top: 0;
                left: 30%;
            }
        .icon{
            width: 30px;
            height: 30px;
            margin-right: 10px;
            cursor: pointer;
            color: var(--Secondary800);
                @media (max-width: 576px) and (max-width: 767px) {
                    color: var(--greenMain300);
                }
                a {
                    color: rgba(var(--Secondary500));
                    text-decoration: underline;
                     &:hover{
                        color: var(--Secondary500);
                        }
                }
        }
    }
    .pageTitle{
        margin-top: 14vh;
          @media (max-width: 576px) and (max-width: 767px) {
            margin-top: -1vh;
        }
        h3{
            font-size: var(--font-size-48);
            color: var(--white-color);
            margin: 10px 0;
             @media (max-width: 576px) and (max-width: 767px) {
               font-size: var(--font-size-32);
            }
        }
        h6{
            font-size: var(--font-size-16);
            color: var(--white-color);
            margin: 10px 0;
             @media (max-width: 576px) and (max-width: 767px) {
               font-size: var(--font-size-12);
               width: 80%;
            }
        }
    }

    .navbar{
        padding: 0;
        }
        .navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-navbar-color);
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
    display: flex;
    flex-direction: column; /* Default to vertical */
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: transparent; /* Default background */

    @media (min-width: 992px) { /* lg and up */
      flex-direction: row !important; /* Horizontal on larger screens */
      background-color: transparent !important; /* No background on larger screens */
    }

    @media (max-width: 991.98px) { /* below lg */
      background-color: var(--tertiary100) !important; /* Background on mobile */
      border-radius: 0 0 12px 12px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.07);
      padding: 0;
    }

    .nav-link {
      color: var(--white-color);
      font-size: var(--font-size-16);
      font-weight: 500;
      padding: 17px 20px;

      &:hover {
        color: var(--white-color);
        background-color: var(--Secondary400Base);
      }

      &.active {
        color: var(--white-color);
        background-color: var(--Secondary500) !important;
      }

      @media (max-width: 991.98px) {
        color: var(--black-color);
        padding: 4px 10px !important;
        border-bottom: 1px solid #eee !important;
        background: transparent;
      font-size: var(--font-size-14);
      font-weight: 500;
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
 .navbar{
        padding: 0;
        }
        .navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-navbar-color);
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
    display: flex;
    flex-direction: column; /* Default to vertical */
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: transparent; /* Default background */

    @media (min-width: 992px) { /* lg and up */
      flex-direction: row !important; /* Horizontal on larger screens */
      background-color: transparent !important; /* No background on larger screens */
    }

    @media (max-width: 991.98px) { /* below lg */
      background-color: var(--tertiary100) !important; /* Background on mobile */
      border-radius: 0 0 12px 12px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.07);
      padding: 0;
    }

    .nav-link {
      color: var(--black-color);
      font-size: var(--font-size-16);
      font-weight: 500;
      padding: 17px 20px;

      &:hover {
        color: var(--white-color);
        background-color: var(--Secondary400Base);
      }

      &.active {
        color: var(--white-color);
        background-color: var(--Secondary500) !important;
      }

      @media (max-width: 991.98px) {
        color: var(--black-color);
        padding: 4px 10px;
        border-bottom: 1px solid #eee;
        background: transparent;
        font-size: var(--font-size-14);
        font-weight: 500;
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
   color: var( --white-color);
                background-color: var(--Secondary500);
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.row > [class^="col-"] {
  padding-right: 0 !important;
  padding-left: 0 !important;
}


.carousel {
//   max-height: 500px; /* Adjust this value as needed */
  overflow: hidden; /* Hide any content that overflows */
}

.carousel-caption {
     position: absolute; /* or relative */
    // bottom: 0; /* Adjust as needed */
    // left: 0;
    // width: 100%;
    // padding: 20px;
    right: 15%;
    bottom: 0rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: var(--bs-carousel-caption-color);
    text-align: center;
    h5{
        font-size: 4.5rem;
        @media (max-width: 576px) and (max-width: 767px) {
            font-size: 1.1rem;
            padding: 0 10px;
        }
    }
}

.btn{
    --bs-btn-border-radius: 0px;
}
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #1A8087;
    --bs-btn-border-color: #1A8087;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #3DC0C4;
    --bs-btn-hover-border-color: #3DC0C4;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #185157;
    --bs-btn-active-border-color: #185157;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #A2EDEB;
    --bs-btn-disabled-border-color: #A2EDEB;
}

.btn-info {
    --bs-btn-color: #fff;
    --bs-btn-bg: #450A0C;
    --bs-btn-border-color: #450A0C;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #991B1F;
    --bs-btn-hover-border-color: #991B1F;
    --bs-btn-focus-shadow-rgb: 11, 172, 204;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #DB272D;
    --bs-btn-active-border-color: #DB272D;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #FCA5A8;
    --bs-btn-disabled-border-color: #FCA5A8;
}

.productsBtn{
    width: 23vw;
    font-size: var(--bs-btn-font-size);
    padding: 10px;
      @media (max-width: 576px) and (max-width: 767px) {
        width: 44vw;
        font-size: var( --font-size-12);
         padding: 5px;
    }
}

.buttonTopMargin50px{
    margin-top: 50px;
}

.buttonProductsRightAlign
{
    position: absolute;
    top: 25%;
    right: 15%;
      @media (max-width: 576px) and (max-width: 767px) {
        top:2%;
        right: 5%;
    }
}

.buttonProductsLeftAlign
{
    position: absolute;
    top: 25%;
    left: 15%;
      @media (max-width: 576px) and (max-width: 767px) {
        top:2%;
        left: 5%;
     }
}
.indexAboutus{
    padding: 2rem 5rem;
    @media (max-width: 576px) and (max-width: 767px) {
        padding: 1rem 2rem;
    }
    h6{
        font-size: 2rem;
        font-weight: 500;
        color: var(--grey-color);
        margin-bottom: 1rem;
         
    }
    h3{
        font-size: 3rem;
        font-weight: 700;
        color: var(--grey-color);
         margin-bottom: 1.5rem;
          @media (max-width: 576px) and (max-width: 767px) {
           font-size: var(--font-size-28);
        }
    }
    p{
        font-size: var(--font-size-10);
        font-weight: 400;
        color: var(--grey-color);
    }
    .aboutPara{
         font-size: var(--font-size-14);
        font-weight: 400;
        color: var(--black-color);
        text-align: justify;
    }
    .bigFontAbout{
        font-size: var(--font-size-26);
        color: var(--black-color);
        line-height: 26px;
        font-weight: 600;
        padding-bottom: 20px;
    }
    .aboutMission{
        display: flex;
        .boxIcon{
            width: 20vw;
             height: 14vh;
            border-radius: 12px;
            box-shadow: 0 2px 8px rgba(0,0,0,0.07);
            margin: 0 15px 20px 0;
            img{
                max-width: 5vw;
                @media (max-width: 576px) and (max-width: 767px) {
                    max-width: 12vw;
                }
            }
              @media (max-width: 576px) and (max-width: 767px) {
                    width: 60vw;
                    height: 12vh;
                }
        }
        .greenBox{ background-color: var(--greenMain100);}
        .redishBox{ background-color: var(--Secondary100);}
        .darkgreenBox{ background-color: var(--tertiary300);}
        .boxContent{
            h6{font-size: var(--font-size-18); font-weight: 600; margin: 0;}
            p{font-size: var(--font-size-12); text-align: justify;}
        }
    }
}

.indexcounts{
    background-color: var(--greenMain600);
    padding: 1rem 0rem;
    text-align: center;
    h1{
        font-size: 3rem;
        color: var(--white-color);
        margin-bottom: 0.2rem;
    }
    p{
        font-size: var(--font-size-16);
        color: var(--white-color);
    }
}

.footer{
    background-color: var(--greenMain200);
    text-align: center;
    // height: 50vh;
    .footerContent{
        padding: 1rem 5rem;
         @media (max-width: 576px) and (max-width: 767px) {
            padding: 1rem 2rem;
        }
        .footerlogo{
            width: 70%;
            margin-bottom: 20px;
             @media (max-width: 576px) and (max-width: 767px) {
                width: 40%;
                margin-bottom: 20px;
            }
        }
        .footerLinks{
            list-style-type: disc; padding-left: 20px; text-align: left;
            li{
                font-size: var(--font-size-13);
                color: var(--black-color);
                margin: 0.35rem 0;
                &:hover{
                    color: var(--Secondary500);
                }
                a{
                    color: var(--black-color);
                    text-decoration: none;
                    &:hover{
                        color: var(--Secondary500);
                    }
                }
            }
        }
        .footerAddress{
            margin: 0.35rem 0;
            text-align: left;
            span{
                font-size: var(--font-size-16);
                color: var(--black-color);
                text-decoration: none;
                &:hover{
                    color: var(--Secondary500);
                }
            }
            p{
                font-size: var(--font-size-12);
                color: var(--black-color);
                text-decoration: none;
                &:hover{
                    color: var(--Secondary500);
                }
            }
            .copyright{
                color: var(--black-color);
            }
        }
        .line-gradient {
                height: 4px;
                background: linear-gradient(to right, #F77276 0 50%, #F77276 50% 100%);
                background-image: linear-gradient(to right, #F77276 50%, #F77276 50%);
                mask-image: linear-gradient(to right, rgba(0,0,0,1) 50%, rgba(0,0,0,0.25) 50%);
                }
    }
    h1{
        font-size: 3rem;
        color: var(--white-color);
        margin-bottom: 0.2rem;
    }
    p{
        font-size: var(--font-size-16);
        color: var(--white-color);
    }
    .footRedBar{
        background-color: var(--Secondary400Base);
        // height: 2vh;
    }
}

.progress, .progress-stacked{
 
    height: var(--bs-progress-height);
}

.OurServicesTitle{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
     @media (max-width: 576px)  and (max-width: 767px){
             margin-top: 0px;
             margin-bottom: 0px;
        }
    h3{
        font-size: var(--font-size-40);
        font-weight: 600;
          @media (max-width: 576px)  and (max-width: 767px){
            font-size: var(--font-size-30);
        }
    }
    h6{
        font-size: var(--font-size-16);
        font-weight: 600;
         @media (max-width: 576px) and (max-width: 767px) {
            font-size: var(--font-size-13);
        }
    }
}

.ourserviceSummary{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    background-color: var(--greenMain50);
    span{
        font-size: var(--font-size-32);
        padding: 10px;
        img{
            // filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%); 
            filter: invert(50%) sepia(89%) saturate(542%) hue-rotate(317deg) brightness(103%) contrast(101%);
            width: 6vw;
            height: 6vh;
        }
    }
    h6{
        font-size: var(--font-size-22);
         width: 65%;
         @media (max-width: 576px) and (max-width: 767px) {
                font-size: var(--font-size-16);
                width: 80%;
            }
    }
}

.OurProductTitle{
    background-color: var(--greenMain200);
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
      @media (max-width: 576px) and (max-width: 767px) {
            height: 7vh;
        }
    h3{
        font-size: var(--font-size-40);
        font-weight: 600;
          @media (max-width: 576px) and (max-width: 767px) {
            font-size: var(--font-size-30);
        }
    }
}

.OurServiceContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    background-color: var(--tertiary100);
    border-radius: 16px;
    height: 50vh;
     @media (max-width: 576px)  and (max-width: 767px){
            height: 25vh;
    }
    img{
            // filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%); 
            filter: invert(50%) sepia(89%) saturate(542%) hue-rotate(317deg) brightness(103%) contrast(101%);
            width: 10vw;
            height: 10vh;
        }
    h6{
        font-size: var(--font-size-18);
        font-weight: 600;
        margin: 10px 0px;
    }
    ul{
        list-style: square;
        li{
             font-size: var(--font-size-12);
            //  text-align: justify;
        }
    }
}
.OurProductContainer{
    display: flex;
    justify-content: flex-start;
    align-items: left;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    background-color: var(--tertiary100);
    border-radius: 16px;
    height: 50vh;
      @media (max-width: 576px) and (max-width: 767px) {
            height: 38vh;
        }
    img{
            // filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%); 
            // filter: invert(50%) sepia(89%) saturate(542%) hue-rotate(317deg) brightness(103%) contrast(101%);
            width: 4vw;
            // height: 10vh;
            margin-bottom: 10px;
            @media (max-width: 576px) and (max-width: 767px) {
                width:10vw;
            }
        }
    h6{
        font-size: var(--font-size-22);
        font-weight: 600;
        margin: 10px 0px;
         @media (max-width: 576px) and (max-width: 767px) {
            font-size: var(--font-size-16);
        }
    }
    p{
        font-size: var(--font-size-14);
        color: var(--black-color);
        min-height: 15vh;
    }
}

.contactBannner {
    background-image: url(../images/contactBanner.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--contactBanner);
    height: 163px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    h6{
        font-size: var(--font-size-24);
        color: var(--white-color);
        margin-right: 20px;
          @media (max-width: 576px) and (max-width: 767px) {
            font-size:  var(--font-size-18);
            padding: 0 10px;
        }
    }
}

.productsIndicators{
    .carousel-indicators button{
        background-color: var(--greenMain) !important;
    }

.carousel-control-next-icon{
    background-image: url(../images/circle-arrow-right-solid.svg) !important;

    }
    .carousel-control-prev-icon{
        background-image: url(../images/circle-arrow-left-solid.svg) !important;

    }
}

.indexIndicators{
    .carousel-indicators button{
        background-color: var(--white-color) !important;
    }

.carousel-control-next-icon{
    background-image: url(../images/circle-arrow-right-solid.svg) !important;
    filter: invert(48%) sepia(79%) saturate(456%) hue-rotate(140deg) brightness(97%) contrast(91%);
    }
    .carousel-control-prev-icon{
        background-image: url(../images/circle-arrow-left-solid.svg) !important;
 filter: invert(48%) sepia(79%) saturate(456%) hue-rotate(140deg) brightness(97%) contrast(91%);
    }
}

@media (max-width: 768px) {
.navbar-toggler{
    background-color: var(--greenMain50) !important;
    left: 150%;
}

  .navbar-collapse {
    position: fixed; /* Fixed positioning */
    top: 0;
    left: 100%;
    // height: 40vh; /* Full viewport height */
    // width: 250px; /* Adjust width as needed */
    background-color: #f8f9fa; /* Or any background color */
    padding: 0px;
    z-index: 1050; /* Ensure it's above other content */
    overflow-y: auto; /* Scroll if content overflows */
    transform: translateX(-100%); /* Hide off-screen initially */
    transition: transform 0.3s ease; /* Smooth transition */
  }

   .navbar-collapse.show {
    transform: translateX(0); /* Slide in when shown */
  }

  .navbar-toggler {
    /* Adjust the position of the toggler */
    position: relative;
    z-index: 1051; /* Ensure it's above the navbar */
  }

  .navbar-nav {
    flex-direction: column; /* Stack the menu items vertically */
  }

  .nav-item {
    margin-bottom: 10px; /* Add spacing between menu items */
  }
}